@media screen and (min-width: 320px) {
  .IconM {
    width: 35px !important;
    height: 35px !important;
  }
  .Ico {
    width: 30px !important;
    height: 30px !important;
  }
}
@media screen and (min-width: 540px) {
  .IconM {
    width: 40px !important;
    height: 40px !important;
  }
  .Ico {
    width: 35px !important;
    height: 35px !important;
  }
  .IconM:hover {
    animation: tada 1s infinite;
    filter: drop-shadow(7px 5px 1px #00000049);
    visibility: visible;
  }
  .IconM:hover ~ .TooliptextM {
    visibility: visible;
  }
}
