@media screen and (min-width: 320px) {
  .polygoncard {
    position: relative !important;
    right: auto !important;
    left: -20px !important;
    padding: 12px !important;
    height: 230px !important;
    width: 230px !important;
  }
  .avatarAbout {
    height: 200px !important;
    width: 300px !important;
    background-size: contain !important;
  }
}
@media screen and (min-width: 540px) {
  .polygoncard {
    position: relative !important;
    right: auto !important;
    left: -20px !important;
    padding: 12px !important;
    height: 350px !important;
    width: 350px !important;
  }
}
@media screen and (min-width: 720px) {
  .polygoncard {
    left: -10px !important;
    padding: 5px !important;
    height: 410px !important;
    width: 410px !important;
  }
  .avatarAbout {
    height: 280px !important;
    width: 250px !important;
    border-bottom-left-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
  }
}
@media screen and (min-width: 992px) {
  .polygoncard {
    position: absolute !important;
    right: -170px !important;
    left: unset !important;
    padding: 10px !important;
    height: 290px !important;
    width: 290px !important;
  }
}
@media screen and (min-width: 1200px) {
  .polygoncard {
    right: -190px !important;
    padding: 15px !important;
    height: 300px !important;
    width: 300px !important;
  }
}
@media screen and (min-width: 1376px) {
  .polygoncard {
    right: -200px !important;
  }
}
@media screen and (min-width: 1600px) {
  .polygoncard {
    right: -250px !important;
    height: 350px !important;
    width: 350px !important;
  }
}
