@media screen and (min-width: 320px) {
  .IconContact {
    width: 30px !important;
    height: 30px !important;
    cursor: pointer;
    padding: 5px;
  }
}
@media screen and (min-width: 540px) {
  .IconContact {
    width: 40px !important;
    height: 40px !important;
  }
  .IconContact:hover {
    animation: tada 2s infinite;
    filter: drop-shadow(7px 5px 1px #00000049);
  }
  .IconContact:hover ~ .Tooliptext {
    visibility: visible;
  }
}
