@media screen and (min-width: 320px) {
  .typedstring {
    font-size: 1rem !important;
  }
}
@media screen and (min-width: 540px) {
  .typedstring {
    font-size: 1.1rem !important;
  }
}
@media screen and (min-width: 768px) {
  .typedstring {
    font-size: 1.3rem !important;
  }
}
