.context {
  font-size: 1rem !important;
}
.timeline {
  margin: auto;
  padding-top: 80px !important;
  margin-bottom: 50px !important;
}
@media screen and (min-width: 320px) {
  .timeline {
    padding-inline: 0px !important;
  }
}
@media screen and (min-width: 360px) {
  .timeline {
    padding-inline: 20px !important;
  }
}
@media screen and (min-width: 400px) {
  .timeline {
    padding-inline: 40px !important;
  }
}
@media screen and (min-width: 540px) {
  .timeline {
    padding-inline: 50px !important;
  }
}
@media screen and (min-width: 600px) {
  .timeline {
    padding-inline: 80px !important;
  }
}
@media screen and (min-width: 720px) {
  .timeline {
    padding-inline: 80px !important;
  }
}
@media screen and (min-width: 1366px) {
  .timeline {
    padding-inline: 200px !important;
  }
}
