:root {
  --dashboard: #565656;
  --dashboardTwo: #d7cec7;
  --primary: #76323f;
  --secundary: #c09f80;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--dashboardTwo);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
